@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}
* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
body {
  background-color: var(--Violet);
  background-image: url(bg-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
}
.card {
  width: 23rem;
}
.logo {
  width: 8rem;
}
.mockups {
  width: 19.5rem;
  margin-top: 4rem;
}
/* just fonts */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* some deco */
h1,
p {
  margin-top: 1rem;
}
.txt {
  text-align: center;
  color: white;
  margin-top: 4rem;
}
button {
  padding: 15px;
  color: var(--Violet);
  border: none;
  border-radius: 15px;
  font-size: 14px;
  margin-top: 2.5rem;
  width: 200px;
}
button:hover {
  color: white;
  background-color: var(--Soft-Magenta);
  border: none;
}
i {
  border: 1px solid white;
  padding: 9px;
  border-radius: 50%;
  font-size: 1.5rem;
  gap: 10px;
}
i:hover {
  color: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}

@media screen and (min-width: 450px) {
  body {
    background-image: url(bg-desktop.svg);
    background-size: contain;
  }
  .card {
    width: 50vw;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .txt {
    text-align: left;
    margin-top: 5rem;
    width: 35rem;
  }
  h1{
    font-size: 3rem;
  }
  .mockups {
    width: 20rem;
  }
  .socials {
    float: right;
    margin-top: 14rem;
  }
}
